<div class="container mt-4">
  <div class="row">
    <h2>Mettre à jour un article</h2>
    <%= form_with model: [:admin, @article] do |f| %>
      <div class="form-group">
        <%= f.label :Titre %>
        <%= f.text_field :title %>
      </div>
      <div class="form-group">
        <%= f.label :Categories %>
        <%= f.collection_select :category_id, @categories, :id, :nom, {}, class: "form-select" %>
      </div>

      <div class="form-inputs mb-4">
        <%= f.label :existing_documents, "Pièces jointes existantes", class: 'form-label' %>
        <% @article.documents.each do |document| %>
          <div class="existing-document">
            <%= link_to document.filename, url_for(document), target: '_blank', rel: 'noopener' %>
            <%= check_box_tag 'article[existing_document_ids][]', document.id %>
            <%= label_tag "article_existing_document_ids_#{document.id}", "Supprimer #{document.filename}" %>
          </div>
        <% end %>
      </div>
      <div class="form-inputs mb-4">
        <%= f.label :documents, "Ajouter de nouvelles Pièces jointes", class: 'form-label' %>
        <%= f.file_field :documents, multiple: true, direct_upload: true, accept: 'application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document', class: 'form-control' %>
      </div>
      <div class="form-inputs">
        <%= f.rich_text_area :rich_body %>
      </div>
      <%= f.submit "Enregistrer", {class: "btn btn-primary my-2"} %>
    <% end %>
    <div>
      <%= link_to admin_root_path, class: "btn btn-secondary" do %>
        <i class="fas fa-arrow-left"></i> Retour
      <% end %>
    </div>
  </div>
</div>
