<div class="container mt-4">
  <div class="row">
    <h2><%= @article.title %></h2>
    <hr>
    <p>Catégories : <%= @article.category.nom %></p>
    <hr>
    <p><%= raw @article.rich_body %></p>
    <div>
      <%= link_to 'Edit', edit_admin_article_path(@article) %> |
      <%= link_to 'Back', admin_mes_articles_path %>
      <hr>
      <%= link_to  admin_mes_articles_path, class: "btn btn-primary" do %>
        <i class="fas fa-arrow-left text-white"></i>
      <% end %>
    </div>
  </div>
</div>
