<div class="container mt-4">
  <div class="row">
    <div class="header">
       <% if @article.user.photo.attached? %>
	        <%= cl_image_tag @article.user.photo.key, transformation: { width: 100, height: 100, crop: "fill" }, class: "avatar" %>
	      <% else %>
	        <%= image_tag "default-avatar-user-.jpg", class: "avatar", alt: "dropdown menu" %>
        <% end %>
      <div class="article-meta">
        <span class="author"><%= @article.user.first_name %></span>
        <div class="date"><%= @article.created_at.strftime("%d %B %Y") %></div>
      </div>
    </div>
    <h2><%= @article.title %></h2>
    <hr>
    <p>Catégories : <%= @article.category.nom %></p>
    <hr>
    <p><%= raw @article.rich_body %></p>
    <%= render "shared/attachment_article", article: @article %>

    <div>
      <%= link_to 'Edit', edit_admin_article_path(@article) %> |
      <%= link_to 'Retour', admin_mes_articles_path %>
      <hr>
      <%= link_to  admin_mes_articles_path, class: "btn btn-primary" do %>
        <i class="fas fa-arrow-left text-white"></i>
      <% end %>
    </div>
  </div>
</div>
