<div class="container mt-4">
  <div class="row">
    <div class="col-lg-9 justify-content-start">
      <% @articles.each do |article| %>
        <h3 class="faqQuestion">
          <button class="btn btn-primary faqQuestion" data-bs-toggle="collapse" href="#collapseArticle<%= article.id %>" role="button" aria-expanded="false" aria-controls="collapseArticle<%= article.id %>">
              <%= article.title %>
              <i class="fa-solid fa-chevron-up"></i>
          </button>
        </h3>
        <%# Contenu du collapse %>
        <div class="collapse faqAnswer" id="collapseArticle<%= article.id %>">
          <div class="card-body">
            <%= raw article.rich_body %>
          </div>
        </div>

      <% end %>
      </div>
    </div>

</div>
