<div class="container mt-4">
  <div class="row">
    <div class="card-articles">
      <% if @articles.empty? %>
        <p>Il n'y a pas encore d'articles.</p>
      <% else %>
        <% @articles.each do |article| %>
          <div class="article-header">
              <!-- Ici on ajoute le lien sur le titre -->
            <%= link_to article.title, article_path(article), class: "article-title" %>
            <!-- Affichez le compteur de likes ici -->
              <!-- Section like en haut -->
              <div class="card-like-section">
                <span class="like-count"><%= pluralize(article.likes.count, 'Like.s') %></span>
                <% if user_signed_in? %>
                  <% like = current_user.likes.find_by(article: article) %>
                  <% if like %>
                    <%= button_to article_like_path(article, like), method: :delete, class: 'like-button' do %>
                      <i class="fa-solid fa-heart"></i>
                    <% end %>
                  <% else %>
                    <%= button_to article_likes_path(article), method: :post, class: 'like-button' do %>
                      <i class="fa-regular fa-heart"></i>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
          </div>
          <p><%= article.rich_body %> </p>
          <div class="attachment">
            <% if article.documents.attached? %>
              <% article.documents.each do |document| %>
                <%= link_to document.filename.to_s, rails_blob_path(document, disposition: "inline"), target: "_blank", class: "btn btn-secondary" %>
              <% end %>
              <p><%= pluralize(article.documents.count, 'pièce.s jointe.s') %></p>
            <% end %>
          </div>
        <% end %>
      <% end %>
  </div>
  <div class="pagination mt-4">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>
