<div class="container mt-4">
  <div class="row">
    <h2>Rédiger un article</h2>

    <%= simple_form_for(@article) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <%= f.input :title %>
      </div>
      <div class="form-inputs  mb-4">
        <%= f.label :categories %>
        <%= f.collection_select :category_id, Category.all, :id, :nom %>
      </div>
      <div class="form-inputs mb-4">
        <%= f.label :documents, "Pièces jointes", class: 'form-label' %>
        <%= f.file_field :documents, multiple: true, direct_upload: true, accept: 'application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document', class: 'form-control' %>
      </div>

      <div class="form-inputs">
        <%= f.rich_text_area :rich_body %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Enregistrer", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
