<div class="container mt-4">
  <div class="row">
    <div class="header">
       <% if @article.user.photo.attached? %>
	        <%= cl_image_tag @article.user.photo.key, transformation: { width: 100, height: 100, crop: "fill" }, class: "avatar" %>
	      <% else %>
	        <%= image_tag "default-avatar-user-.jpg", class: "avatar", alt: "dropdown menu" %>
        <% end %>
      <div class="article-meta">
        <span class="author"><%= @article.user.first_name %></span>
        <div class="date"><%= @article.created_at.strftime("%d %B %Y") %></div>
      </div>
    </div>

    <%# <hr>
    <>Catégories : <%= @article.category.nom %>
    <div class="article-title">
      <h2><%= @article.title %></h2>
    </div>
    <div class="article-content">
      <p><%= raw @article.rich_body %></p>
    </div>


    <div class="attachment">
      <% if @article.documents.attached? %>
        <% @article.documents.each do |document| %>
          <%= link_to document.filename.to_s, rails_blob_path(document, disposition: "inline"), target: "_blank", class: "btn btn-secondary" %>
        <% end %>
        <p><%= pluralize(@article.documents.count, 'pièce jointe') %></p>
      <% end %>
    </div>

    <!-- Affichage des erreurs commentaires -->
    <% if @comment&.errors&.any? %>
      <div class="alert alert-info error_explanation">
        <h2><%= pluralize(@comment.errors.count, "erreur.s") %> empêche.nt ce commentaire d'être sauvegardé :</h2>
        <ul>
          <% @comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <!-- Formulaire pour un nouveau commentaire -->
    <div class="cards-commentaire">
      <div class="card-body">
        <h5 class="card-title">Écrivez votre commentaire</h5>
        <%= simple_form_for([@article, @comment], html: { class: "form-comment"}) do |form| %>
          <div class="form-group">
            <%= form.text_area :content, label: false, placeholder: 'Commentaire', class: "form-control", rows: 4 %>
          </div>
          <div class="form-group text-right">
            <%= form.button :submit, "ENVOYER", class: 'btn btn-warning' %>
          </div>
        <% end %>
      </div>
    </div>
    <!-- Affichage des commentaires existants -->
    <div class="commentaire-section mt-4">
      <% @comments.each do |comment| %>
        <div class="commentaire-card">
          <div class="card-body">
            <div class="commentaire-header">
              <% if comment.user.photo.attached? %>
              	<%= cl_image_tag comment.user.photo.key, transformation: { width: 100, height: 100, crop: "fill" }, class: "avatar" %>
              <% else %>
	              <%= image_tag "default-avatar-user-.jpg", class: "avatar" %>
              <% end %>
              <h6 class="commentaire-author"><%= comment.user.first_name %></h6>
            </div>
            <p class="commentaire-content"><%= comment.content %></p>
            <div class="commentaire-footer">
              <% if policy(comment).destroy? %>
                <%= link_to 'Supprimer', [comment.article, comment], data: {turbo_method: :delete, turbo_confirm: "Etes vous sure ?", :method=>'delete'}, class: "delete-commentaire" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>



    <!-- Navigation -->
    <div class="mt-4">
      <%= link_to 'Edit', edit_article_path(@article) %> |
      <%= link_to 'Back', root_path %>
      <hr>
      <%= link_to articles_path, class: "btn btn-primary" do %>
        <i class="fas fa-arrow-left text-white"></i>
      <% end %>
    </div>
  </div>
</div>
