<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo_cfdt_W.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if user_signed_in? %>
      <div class="container-fluid search">
        <%= form_with(url: articles_path, method: :get, local: true, class: 'd-flex search-form') do |form| %>
          <div class="input-group">
            <%= form.text_field :search, value: params[:search], placeholder: "Rechercher des articles", class: 'form-control search-input' %>
            <button class="btn btn-outline-secondary" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
          <% end %>
      </div>
      <% end %>
      <% if user_signed_in? %>
        <!-- Liens pour les utilisateurs connectés -->
        <ul class="navbar-nav me-auto">
          <!-- Lien Accueil toujours visible -->
          <li class="nav-item">
            <%= link_to "Accueil", root_path, class: "nav-link" %>
          </li>
          <!-- Dropdown pour tablette et écran d'ordinateur -->
          <li class="nav-item dropdown d-block d-sd-none ">
              <a href="#" class="avatar d-none d-sm-block" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <% if current_user.photo.attached? %>
                    <%= cl_image_tag current_user.photo.key, transformation: { width: 100, height: 100, crop: "fill" }, class: "avatar", alt: "dropdown menu" %>
                  <% else %>
                    <%= image_tag "default-avatar-user-.jpg", class: "avatar", alt: "dropdown menu" %>
                <% end %>
              </a>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if policy(current_user).access_dashboard? %>
                <li class="nav-item dropdown d-none d-sm-block"><%= link_to "Tableau de bord", admin_root_path, class: "dropdown-item" %></li>
              <% end %>
              <li><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
            </ul>
          </li>
          <!-- Menu sur mobile -->
          <ul class="navbar-nav me-auto d-sm-block">
              <% if policy(current_user).access_dashboard? %>
                <li class="nav-item dropdown d-none d-lm-block"><%= link_to "Tableau de bord", admin_root_path, class: "dropdown-item" %></li>
              <% end %>
              <li><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item d-sm-block d-sm-none .d-md-block" %></li>
          </ul>
        </ul>
      <% else %>
        <!-- Liens pour les utilisateurs non connectés -->
      <% end %>
    </div>
  </div>
</div>
