<div class="row">
  <div class="container-fluid px-5">
      <div class="home-bienvenu">
      <h1>Bienvenue,
      <% if user_signed_in? %>
        <%= current_user.first_name %>!
      <% else %>
        <p>Bonjour, visiteur!</p>
      <% end %>
      </h1>
    </div>

    <div class="cards">
      <% @categories.each do |category| %>
        <%# Ou ceci aussi est bon, ce sera la route qui sera différente %>
        <%# link_to category_articles_path(category) do %>
        <%= link_to articles_path(category_id: category.id) do %>
          <div class="btn-home <%= category.nom.parameterize %>" style="background-color: <%= category.background_color %>;">
            <div class="btn-home-child <%= category.nom.parameterize %>">
              <%= cl_image_tag category.image.key, class: "img-category" %>
              <div class="category-name">
                <b class="category-name"><%= category.nom %></b>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
     <div class="card-publications">
        <div class="card-publications-titre">
          <p><span>Publications</span> </p>
        </div>
        <div class="card-dernieres-publications">
          <% @articles.each do |article| %>
            <div class="article">
              <div class="col-date">
                <p><%= article.created_at.strftime("%d %b") %></p>
              </div>
              <div class="col-details">
                <h2><%= link_to article.title, article_path(article) %></h2>
                <p><%= l(article.created_at, format: "%A, %d %B, %H:%M") %></p>
                <span class="article-category">Catégorie : <%= article.category&.nom || "Non catégorisé" %></span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
