<div class="row">
  <div class="container-fluid px-5">
      <div class="home-bienvenu">
      <h1>Bienvenue,
      <% if user_signed_in? %>
        <%= current_user.first_name %>!
      <% else %>
        <p>Bonjour, visiteur!</p>
      <% end %>
      </h1>
    </div>

    <div class="cards">
      <% @categories.each do |category| %>
        <% if category.nom == "FAQ" %>
          <%= link_to faq_articles_path do %>
          <div class="btn-sidebar faq" style="background-color: #7E3794;">
            <div class="btn-sidebar-child faq">
              <%= image_tag "faq.png", class: "img-category" %>
                <div class="category-name">
                  <b class="category-name">FAQ</b>
                </div>
              </div>
            </div>
        <% end %>
        <% elsif category.nom == "Kelio" %>
          <%= link_to ("https://dscfdt.bodet-software.com"), target: '_blank'  do %>
          <div class="btn-home kelio" style="background-color: #ffed00;">
                <div class="btn-home-child kelio">
                  <%= cl_image_tag category.image.key, class: "img-category" %>
                  <div class="category-name">
                    <b class="category-name"><%= category.nom %></b>
                  </div>
                </div>
              </div>
          <% end %>
        <% elsif category.nom == "Workflow" %>
          <%= link_to ("http://workflow.cfdt-services.fr/siteworkflow"), target: '_blank' do %>
          <div class="btn-home <%= category.nom.parameterize %>" style="background-color: #e75c21;">
                <div class="btn-home-child <%= category.nom.parameterize %>">
                  <%= cl_image_tag category.image.key, class: "img-category" %>
                  <div class="category-name">
                    <b class="category-name"><%= category.nom %></b>
                  </div>
                </div>
              </div>
          <% end %>
        <% else %>
          <%= link_to articles_path(category_id: category.id) do %>
            <div class="btn-sidebar <%= category.nom.parameterize %>">
              <div class="btn-sidebar-child <%= category.nom.parameterize %>">
                <% if category.image.attached? %>
                  <%= cl_image_tag category.image.key, class: "img-category" %>
                <% end %>
                <div class="category-name">
                  <b class="category-name"><%= category.nom %></b>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
     <div class="card-publications">
        <div class="card-publications-titre">
          <p><span>Publications</span> </p>
        </div>
        <div class="card-dernieres-publications">
          <% @articles.each do |article| %>
            <div class="article">
              <div class="col-date">
                <p><%= article.created_at.strftime("%d %b") %></p>
              </div>
              <div class="col-details">
                <h2><%= link_to truncate_html(article.title.to_s, length: 40, omission: '...'), article_path(article) %></h2>
                <p><%= l(article.created_at, format: "%A, %d %B, %H:%M") %></p>
                <span class="article-category">Catégorie : <%= article.category&.nom || "Non catégorisé" %></span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
