<div class="container mt-4">
  <div class="row">
    <h1>Modification de la catégorie</h1>
  </div>
  <div class="row">
    	<%= simple_form_for([:admin, @category]) do |f| %>
        <%= f.input :nom %>
        <%= f.file_field :image %>
        <p>
          <!-- Ajout d'un sélecteur de couleur -->
          <%= f.label :background_color, "Couleur de fond" %>
          <%= f.color_field :background_color %>
        </p>
        <p>
        <%= link_to admin_categories_path, class: "btn btn-primary" do %>
          <i class="fas fa-arrow-left text-white"></i>
        <% end %>
        <%= f.submit "Modifier", {class: "btn btn-primary"} %>
        </p>
      <% end %>
  </div>
</div>
