<!DOCTYPE html>
<html>
  <head>
    <title>Intranet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/breadcrumb" %>
    <%= render "shared/flashes" %>
    <div class="dashboard-wrapper">
      <%= render 'shared/admin-bar' %>
      <div class="main-content">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
